.social {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #123156;
	margin: 0 auto;
	line-height: 180px;
}

/*menu*/
.navbar-default {
	box-shadow: none;
	background-color: transparent;
	border: none;
	background-image: none;
	min-height: 90px;
	padding-top: 20px;
}

.nav > li > a {
	text-transform: uppercase;
	font-family: font-family: 'Roboto Condensed', sans-serif;
	color:#ffffff;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
	-webkit-text-shadow: 1px 1px 1px black;
	-moz-text-shadow: 1px 1px 1px black;
}

.nav >li >a:hover, .nav > li > a:focus {
	background-color: transparent;
}

.banner-principal .titulo-banner{
	margin-top: 130px;	
}

.banner-principal .titulo-banner a {
	color: #ffffff;
	font-size: 1.5em;
	background-color: #00;
}

/*separador*/


.banner-principal .separador {	
	width: 400px;
	height: 4px;
	background-color: #ffffff;		
	display: block;
	margin: 0 auto;	
	margin-top: 20px;
	margin-bottom: 30px;
}


